<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Shopping List App</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>
	<section id="shopping-list">

		<div class="choice-box" >
			<textarea v-model="selectedText" type="text" minlength="10" maxlength="40" required
				placeholder="Enter new text"></textarea>
			<div class="radio-container">
				<input class="btn" type="radio" id="header" value="Header" v-model="selectedType"
					@change="updateTempContent">
				<label for="header">Header</label>
				<input class="btn" type="radio" id="body" value="Body" v-model="selectedType"
					@change="updateTempContent">
				<label for="body">Body</label>
				<input class="btn" type="radio" id="footer" value="Footer" v-model="selectedType"
					@change="updateTempContent">
				<label for="footer">Footer</label>
				<button @click="updateText" class="btn">Update Content</button>
			</div>
		</div>
		<div class="content">
			<h1 @click="updateSelectedType('Header'); updateSelectedText(header)">{{ header }}</h1>
			<hr
			<p @click="updateSelectedType('Body'); updateSelectedText(body)">{{ body }}</p>
			<h4 @click="updateSelectedType('Footer'); updateSelectedText(footer)">{{ footer }}</h4>
		</div>
	</section>
	<script src="https://unpkg.com/vue@3"></script>
	<script src="app.js"></script>
</body>

</html>