<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Shopping List App</title>
	<link rel="stylesheet" href="style.css" />
</head>

<body>

	<section id="shopping-list">
		<h1>{{ header }}</h1>
		<p>{{ body }}</p>
		<div class="choice-box">
			<input v-model="selectedText" type="text" />
			<div class="radio-container">
				<input type="radio" id="header" value="Header" v-model="selectedType" @change="updateText">
				<label for="header">Header</label>
				<input type="radio" id="body" value="Body" v-model="selectedType" @change="updateText">
				<label for="body">Body</label>
				<input type="radio" id="footer" value="Footer" v-model="selectedType" @change="updateText">
				<label for="footer">Footer</label>
			</div>
		</div>
		<h4>{{ footer }}</h4>
	</section>
	<script src="https:unpkg.com/vue@3"></script>
	<script>
		const shoppingList = Vue.createApp({
			data() {
				return {
					header: "The standard Lorem Ipsum passage, used since the 1500s",
					body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					",
					footer: "This is a footer",
					selectedText: "",
					selectedType: "Header" // Set initial value to Header
				};
			},
			methods: {
				updateText() {
					switch (this.selectedType) {
						case "Header":
							this.header = this.selectedText;
							break;
						case "Body":
							this.body = this.selectedText;
							break;
						case "Footer":
							this.footer = this.selectedText;
							break;
					}
				}
			}
		}).mount("#shopping-list");
	</script>
</body>

</html>