:root {
    --primary-color: hsla(211, 100%, 50%, 0.678);
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --error-color: #dc3545;
    --oxford-blue: rgb(18, 18, 18);
    --bittersweet: rgb(44, 44, 88);
    --platinum: hsla(174, 11%, 82%, 1);
    --khaki: rgb(118, 143, 230);
    --white: rgb(255, 255, 255);
    --primary: rgb(255, 0, 76);
    --secondary: rgb(0, 255, 76);
    --polkadot-pink: #e6007a;
    --polkadot-purple: #552BBF;
    --polkadot-cyan: hsla(198, 100%, 50%, 0.63);
    --polkadot-lime: #D3FF33;
    --polkadot-green: #56F39A;

    /* Fonts */
    --main-font: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --heading-font: 'Roboto', sans-serif;

    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* Breakpoints */
    --tablet-breakpoint: 768px;
    --desktop-breakpoint: 1024px;

    /* Other Variables */
    --border-radius: 4px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --radius: 8px;

    /* Typography */
    --heading-font-size: 24px;
    --heading-line-height: 1.2;
    --paragraph-font-size: 16px;
    --paragraph-line-height: 1.5;
    --paragraph-max-width: 35ch;

    scale: 0.95;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    background-image: linear-gradient(to bottom right, var(--polkadot-cyan) 0%, var(--primary-color) 50%);
    color: var(--oxford-blue);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

section {
    margin: 2rem;
    height: 90%;
    border: 2px solid var(--bittersweet);
    border-radius: var(--radius);
    padding: 0;
    max-width: 54vw;
    background-color: var(--white);
    text-align: center;
    position: absolute;
    box-shadow: var(--box-shadow);

}

h1 {
    font-size: clamp(0.9rem, 2vw, 2rem);
    line-height: 1.1;

    width: 15ch;
    margin: 1rem auto 0;
    word-wrap: pretty;
    transform: scale(1.05);
}

h1:hover {


    color: var(--polkadot-lime);
    transition: color 5s cubic-bezier(0.215, 0.610, 0.355, 1);
    text-align: center;

    padding: 0;
}

h4 {
    font-size: clamp(0.3rem, 2vw, 0.8rem);
    font-weight: 100;
    width: 35ch;
    vertical-align: middle;
    margin: 0 auto;
    padding-bottom: 24px;
    text-align: center;
    word-wrap: balanced;
}

p {
    font-size: clamp(0.6rem, 2vw, 1rem);
    line-height: 1.6;
    width: 35ch;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0px 0px 1rem;
    text-wrap: balance;
    text-align: center;
}

hr {
    background-color: var(--bittersweet);
    width: 35vw;

    align-self: center;

}

label {
    display: block;
    color: var(--white);
}

.radio-container input[type="radio"] {
    display: none;

}

.radio-container input[type="radio"]:hover {
    background: #b984e86e;

}

.radio-container input[type="radio"]+label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: var(--radius);
    margin-right: 5px;
    cursor: pointer;
}

.radio-container input[type="radio"]:checked+label {

    color: var(--white);
    text-transform: uppercase;
    background: var(--primary);
    filter: brightness(1.)
}

.content {
    display: flex;
    flex-direction: column;
    gap: clamp(1.4rem, 1vw, 2rem);
    width: 54vw;
    text-wrap: balance;
    padding: 5rem 0 4rem;
    margin-top: 1.2rem;
}

svg {
    position: absolute;
    top: 2.4rem;
    left: calc(50% - 25px);
    width: 50px;
    height: 80px;
    padding-bottom: 1rem;

}

.choice-box {
    position: absolute;
    bottom: 2rem;

    opacity: 1;

    background-image: linear-gradient(to bottom right, var(--polkadot-cyan) 0%, var(--primary-color) 50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    break-before: always;
    left: 0rem;
    right: 0;
    padding: 0.8rem 0 0.8rem;
    border-top: 1.6px solid var(--bittersweet);
    border-radius: var(--radius);
    padding-top: 24px;
    padding-bottom: 16px;
    margin: 2rem auto;

    box-shadow: 0px 5px 5px -3px var(--oxford-blue), 0px 10px 5px -9px var(--oxford-blue);
    max-width: 80%;

    textarea {
        width: 66%;
        color: var(--oxford-blue);
        background-color: var(--white);
        border: 0.4px solid var(--bittersweet);
        border-radius: var(--radius);
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0 auto;

        text-align: center;
        justify-content: baseline;
        overflow: hidden;
        outline: none;
        vertical-align: middle;

        &::placeholder {
            color: var(--oxford-blue);
            text-align: center;
            justify-content: baseline;
            padding-top: 0.5rem;
        }

        &:focus {
            border-color: var(--white);
            box-shadow: 0 0 0 0.1rem var(--primary);
            text-align: center;


        }

        &::invalid {
            background-color: var(--secondary);
        }
    }
}

/*  */

.btn:hover {
    background: var(--bittersweet);
    color: var();
    text-decoration: none;
}

.btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    justify-content: center;
    place-items: center;
}


/* CSS */

.btn {
    margin: 0.8rem 0.3rem;
    padding: 8px 12px;
    border: 0;
    font-size: 16px;
    transition: all 150ms ease-in-out;
    width: 100px;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px;
    font-weight: 600;
    color: #fff;
    box-shadow: rgba(32, 27, 92, 0.8) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0 0 3px 0 inset, 0 1px 2px 0 rgba(0, 0, 0, .5);
    background-image: radial-gradient(53% 87% at 44% 90%, rgba(255, 255, 255, 0.36) 0%, transparent 100%), linear-gradient(130deg, var(--polkadot-cyan) 0%, #635cc0 100%);
}


.btn:hover {
    background: var(--primary);
    filter: brightness(1.)
}



.btn:active {
    transform: scale(.95);
}